.container{
    color: blue;
    font-size:150%;
}
.đt1{
    font-size: 150%;
}
.giá{
    color: red;
    font-size: 130%;
}
.the1{
    border-style: groove;
}
.thongtin2{
    color: black;
    font-size: 100%;
}.noibat{
    color: blue;
    font-size: 150%;
}